@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap');
@import 'tailwindcss';
@plugin 'tailwindcss-motion';

@layer base {
    html{height:100%;-webkit-tap-highlight-color:transparent}
    body{min-height:100%}
    [x-cloak]{display:none}
    @font-face{font-family:"Exo", sans-serif;font-optical-sizing: auto;font-weight: 700;font-style: normal;}
}

@theme {
    --font-title: 'Exo', sans-serif;
}

.bg-pest {
    background-image: url('/assets/bg-pest-4.jpg');
}

.beam-background {
    animation: animate-beams 100s linear infinite;
    background-image: linear-gradient(120deg, rgba(34,102,200,0.5), rgba(255,255,255,0.1));
    background-image: repeating-linear-gradient(120deg, #1f2937 0%, #1f2937 8%, rgba(131, 141, 155, 0.1) 4%, transparent 1%, rgba(2, 72, 172, 0.6) 5%, #1f2937 12%), repeating-linear-gradient(-60deg, #d1d5db 0%, #d1d5db 80%, rgba(209, 213, 219, 0.7) 2%, #9ca3af 3%, #9ca3af 4.5%, rgba(209, 213, 219, 0.5) 5%);
    background-size: 300%, 200%;
    background-position: 50% 80%, 5% 50%;
}

@keyframes animate-beams {
    0% {
        background-position: 0% 0%, 100% 100%;
    }
    100% {
        background-position: 150% 100%, -100% -50%;
    }
}

@keyframes marquee{
    0%{transform:translate3d(0,0,0)}
    100%{transform:translate3d(-50%,0,0)}
}
